:root {
    --back-color: #5927e5;
    --black: #1f1926;
    --white: #fcf7ff;

}


body {
    font-family: sans-serif;
    /*'Jost*/
    background-image: linear-gradient(to bottom left, var(--black), var(--back-color));
    height: max-content;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 10px;
}

footer {
    text-align: center;
    position: relative;
    bottom: 10px;
}


label {
    color: var(--white);
    margin: 0 auto;
    font-size: large;
}

fieldset {
    border-width: 0px;
    border-style: none;
    padding-left: 30%;
    padding-right: auto;
}

textarea {
    font-family: "Jost", sans-serif;
}




/*
.grid-container {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 0px 0px;
    grid-template-areas:
        "menu content"
        "menu content"
        "menu content"
        "menu content";
}

.menu {
    grid-area: menu;
    text-align: center;
    position: fixed;
    display: inline;
    left: 10px;
    height: 100%;
}
*/
main{
    height: 100%;
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  100% 100% 100% 100%;
    gap: 0px 0px;
    grid-template-areas:
        "one"
        "two"
        "thr"
        "four";
    grid-area: content;
}

.one {
    grid-area: one;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two {
    grid-area: two;
}

.thr {
    grid-area: thr;
}

.four {
    grid-area: four;
}


.page {
    font-weight: 600;
    color: var(--white);
    height: 100%;
    padding: 20px;
    margin: 10px;
}

.btn {
    color: var(--white);
    width: 100px;
    background-color: var(--back-color);
    display: inline-block;
    border-radius: 12px;
    border-color: var(--white);
    border: none;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
}

.btn:hover {
    background: var(--white);
    text-decoration: none;
    color: var(--black);
}

.headertxt{
    display: inline-block;
    margin-bottom: 200px;
    font-size: xxx-large;
}

#skills {
    color: #1f1926;
    background-color: #9b89b3;
}